<div class="grid-container">
  <hr>
  <mat-grid-list [cols]="2" rowHeight="400px">
    <!-- Formulario para agregar Persona -->
    <mat-grid-tile colspan="1" rowspan="1">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>Agregar Persona</mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <form [formGroup]="personForm">
            <label for="name">Nombre:</label>
            <input id="name" type="text" formControlName="name">
            
            <label for="apellido">Apellido:</label>
            <input id="apellido" type="text" formControlName="apellido">
            <button type="button" (click)="addApellido()">Agregar Apellido</button>
            <br>
            <button type="button" (click)="createPerson()">Agregar Persona</button>
          </form>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>

    <!-- Lista de personas -->
    <mat-grid-tile colspan="1" rowspan="1">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>Lista de Personas</mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <ul>
            @for (person of personsArray; track person) {
              <li>
                Nombre: {{ person.name }} | Apellidos: {{ person.apellidos.join(', ') }}
                <button (click)="deletePerson(person.id)">Eliminar</button>
              </li>
            }
          </ul>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
